<h2> About Message Board</h2>


<p>Message board is a question and answer application. A user submits a question and other users can respond with answers.</p>

<p>If you have any questions please contact the maker of this website through her gitHub account</p> 
