<h3>Welcome to Message Board</h3>

We hope you will find the answers to your questions!  Feel free to post questions or answers.
<br>
<br>
<h4>Questions</h4>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
